@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
body{
    background-color: #0D1117;
    color: #fff;
    font-family: "ABeeZee", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.titulo-principal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 100px 0;
    text-align: center;
}
.titulo-principal{
    font-size: 50px;
    font-weight: bolder;
}
.titulo-secundario{
    font-size: 42px;
    margin: 18px 0;
}
.subtitulo{
    font-size: 24px;
}
.barra{
    background-color: #282F39;
    width: 90%;
    height: 2px;
    margin: 8px 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre-projeto-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre-projeto-container{
    background-color: #0B0E13;
    display: flex;
    width: 85%;
    height: 420px;
    border-radius: 12px;
    margin: 40px 0;
    overflow: hidden;
}
.sobre-texto{
    background-color: #004e92;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 12px;
}
.sobre-texto__titulo{
    font-size: 42px;
}
.sobre-texto__subtitulo{
    font-size: 18px;
    margin: 12px 0;
}
.sobre-imagem{
    padding: 0 36px;
}

.carrosel-fotos{
    background-color: #0B0E13;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 95%;
    height: 550px;   
    padding: 48px 8px;
}
.carrosel-fotos img{
    width: 12%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #282F39;
    transition: all ease-in-out 0.5s;
}
.carrosel-fotos img:hover{
    width: 50%;
}

.link-repositorio-container{
    background-color: #0179DF;
    width: 100px;
    padding: 21px 28px;
    text-align: center;
    margin: 12px;
    border-radius: 6px;
}
.link-repositorio-container:hover{
    cursor: pointer;
    background-color: #004e92;
}
.link-repositorio{
    color: #fff;
    font-size: 20px;
}
.rodape{
    background: linear-gradient(45deg, #010911, #0b1424);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    width: 100%;
    height: 120px;
}